<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">ADMİN</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
		{{> admin-nav}}
	</div>
</section>

<!--==========================
    THE TEAM
============================-->

<section id="team" class="md-padding">
	<div class="container">

		<div class="row text-center">
			<div class="col-md-4 offset-md-4">
				<div class="section-header">
					<h2 class="title">TAKIM</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="img/1.jpg" alt="">
					<h4>Ahsen Uyanık</h4>
					<p class="text-muted">Baş Tasarımcı</p>
					<ul class="list-inline social-buttons">
						<li class="list-inline-item">
							<a href="https://twitter.com/i/flow/login">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://tr-tr.facebook.com/">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://tr.linkedin.com/">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="img/2.jpg" alt="">
					<h4>Hamit Yıldırım</h4>
					<p class="text-muted">Lider Pazarlamacı</p>
					<ul class="list-inline social-buttons">
						<li class="list-inline-item">
							<a href="https://twitter.com/i/flow/login">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://tr-tr.facebook.com/">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://tr.linkedin.com/">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="img/3.jpg" alt="">
					<h4>Gülsinem Bardak</h4>
					<p class="text-muted">Baş Geliştirici</p>
					<ul class="list-inline social-buttons">
						<li class="list-inline-item">
							<a href="https://twitter.com/i/flow/login">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://tr-tr.facebook.com/">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://tr.linkedin.com/">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>