<!--==========================
    HERO SECTION Section
============================-->
	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white">GELECEĞE AÇILAN KAPI</h1>
				<p>Basitlik, güvenilirlik için önkoşuldur.</p>
				<a href="/contact">
				<button class="main-btn">İLETİŞİM</button></a>
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Bize Katıl</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-cogs"></i>
						<h3>OYUN GELİŞTİRME ATÖLYELERİ</h3>
						<p>Masaüstü, mobil ve tarayıcı tabanlı oyun geliştirme atolyeleri.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>PROJELERİMİZ</h3>
						<p>Geleceğin bilgisayar, yazılım, teknoloji ve sistem mühendislerini yetiştiriyoruz.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>WORKHATON ÇALIŞMALARI</h3>
						<p>Yoğun çalışma ve eğlencenin bir arada olduğu soluksuz maratonlarla yeni beceriler kazanın.</p>
					</div>
				</div>
			</div>
		</div>
	</section>